<h1>News Feed</h1>
<a href="{% url 'user_search' %}">Search Users</a>

<a href="{% url 'create_post' %}">Create Post</a>
<a href="{% url 'logout' %}">Logout</a>

<hr>

{% for post in posts %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
        <p>
            <strong>
                <a href="{% url 'profile' post.author.id %}">
                    {{ post.author.username }}
                </a>
            </strong>
        </p>

        <p>{{ post.content }}</p>

        {% if post.image %}
            <img src="{{ post.image.url }}" width="300">
        {% endif %}

        <p>
            Likes: {{ post.likes.count }}
            {% if user in post.likes.all %}
                <a href="{% url 'unlike_post' post.id %}">Unlike</a>
            {% else %}
                <a href="{% url 'like_post' post.id %}">Like</a>
            {% endif %}

        </p>

        <a href="{% url 'post_detail' post.id %}">View Post</a>
    </div>
{% empty %}
    <p>No posts yet.</p>
{% endfor %}
